.form-control {
  background-color: #f7f5f5;
  &:focus {
    background-color: #fbf9f9;
  }
}
.see-through {
  opacity: 0;
}
.seeable {
  opacity: 1;
}
.headerForNavBar {
  position:fixed; /* fixing the position takes it out of html flow - knows
                   nothing about where to locate itself except by browser
                   coordinates */
  left:0;           /* top left corner should start at leftmost spot */
  top:0;            /* top left corner should start at topmost spot */
  width:100vw;      /* take up the full browser width */
  z-index:200;  /* high z index so other content scrolls underneath */
  height:100px;     /* define height for content */
}
.white-text-shadow {
  text-shadow: 1px 1px 2px white;
}
.black-text-shadow {
  text-shadow: 1px 1px 2px black;
}
.white-box-shadow {
  box-shadow: 0 2px 1px -1px rgba(255, 255, 255, 0.515), 0 1px 1px 0 rgba(255, 255, 255, 0.444), 0 1px 3px 0 rgba(255, 255, 255, 0.427);
}
@keyframes bang {
  from {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
.hoverme {
  width: 240px;
  margin:150px auto 0;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  span {
    color: #333;
    font-size: .9em;
  }
  i {
    position: absolute;
    display: block;
    left: 50%;
    top: 0;
    width: 3px;
    height: 8px;
    background: red;
    opacity: 0;
  }

}