@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";

body{
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}
.Cardo {
  font-family: 'Cardo', serif;
}
.DancingScript {
  font-family: 'Dancing Script', cursive;
}
.Lora {
  font-family: 'Lora', serif;
}
.Prata {
font-family: 'Prata', serif;
}
.Rochester {
font-family: 'Rochester', cursive;
}
.Sancreek {
font-family: 'Sancreek', cursive;
}
.Volk {
font-family: 'Vollkorn', serif;
}
.Yesteryear {
font-family: 'Yesteryear', cursive;
}
.fs50 {
  font-size: 50%;
}
.fs100 {
  font-size: 100%;
}
.fs150 {
  font-size: 150%;
}
.fs200 {
  font-size: 200%;
}
.fs250 {
  font-size: 250%;
}
.fs300 {
  font-size: 300%;
}